#contacto {
  @include grey-background;
}
.contactTitle,.contactMainTitle {
  @include options-black-menu;
  @include titles-style;
}
.navMenuContacto {
  margin-bottom: 40px;
  @include options-black-menu;
  a {
    font-weight: bolder;
    text-decoration: none;
    color: $light-color;
  }
}
.contactmaintitlecontainer, .contactInformationContainer {
  text-align: -webkit-center;
}

