#contacto {
  @include grey-background;
}
.contactTitle,.contactMainTitle {
  @include options-black-menu;
  @include titles-style;
}
.navMenuContacto {
  margin-bottom: 40px;
  @include options-black-menu;
  a {
    font-weight: bolder;
    text-decoration: none;
    color: $light-color;
  }
}
.contactmaintitlecontainer {
  text-align: -webkit-center;
}
.contactInformationContainer {
  text-align: -webkit-center;
  padding-bottom: 45px;
  a:hover {
    text-decoration: none;
    color: $light-color;
  }
}
.iconsContainer {
  margin-top: 10px;
}
.icons {
  color: $light-color;
  font-size: 35px;
  padding: 15px 15px;
  text-decoration: none;
  @include options-black-menu;
}
