* {
  margin: 1px;
  padding: 1px;
}
body {
    background-image: $blockchain-image;
    background-color: $background-color;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
    ///overflow-x: hidden;
    color: $text-color;
    font-family: $general-font;
}
h1 {
  color:$text-color;
  font-weight: bolder;
  border: solid 1px $text-color;
  font-family: $titles-font;
  padding: 10px;
  text-align: left;//center;
  display: inline-block; //agregué para lograr la nueva disposición de la página
}
#indexHeader {
  margin-top: 30px;
}
a {
  text-decoration: none;
  color: $text-color;
}
.nav-link:hover {
  @include scale;  
}
.navbar-expand-lg {
  justify-content: space-evenly;
}
.navbar-collapse {
  flex-grow: initial;
}
.icon-home3 {
  font-size: 2.5rem;
}
.navbar-brand {  
  &:hover {
    @include scale;
  }
}
#navMenu li, #extraContent li, .howImI li, #navMenuSection li {
  font-family: $menus-font;
}
footer {
  color: $text-color;
  padding: 5px 0px 0px 0px;
  font-size: 1rem;
  text-align: center;
  a:hover {
    @include scale;
    background-image: $background-color;
  }
}