* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: $general-font;
  @media only screen and (max-width: 576px) {
    
    overflow-x: hidden;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $titles-font;
}
#indexHeader {
  @include grey-background;
  padding-top: 25px;
  padding-bottom: 25px;
  p {
  margin-top: 15px;
  font-weight: bolder;
  color: $light-color;
  @include options-black-menu;
  }
}
#home {
  @include grey-background;
}
.homeImageContainer {
  margin-bottom: 35px;
  
}
.homeImage {
  @media only screen and (min-width: 577px) and (max-width: 768px) {
    max-width: 98%;
  }
  @media only screen and (max-width: 576px) {
    max-width: 98%;
  }
}
.navMenuHome {
  margin-bottom: 40px;
  @include options-black-menu;
  a {
    font-weight: bolder;
    text-decoration: none;
    color: $light-color;
  }
}
.navbar-expand-lg {
  justify-content: space-evenly;
}
.navbar-collapse {
  flex-grow: initial;
}
h1 {
  display: none;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
}
.nav-link:hover {
  @include scale; 
  @media only screen and (min-width: 577px) and (max-width: 768px) {
    transform: none;
    align-text: center !important;
  }
  @media only screen and (max-width: 576px) {
    transform: none;
    aling-text: center !important;
  }
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 60px !important;
}
#footer {
  @include grey-background;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 10px;
}
.footerText {
  @include options-black-menu;
}