* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: $general-font;
  @media only screen and (max-width: 576px) {
    
    overflow-x: hidden;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $titles-font;
}
#indexHeader {
  @include grey-background;
  padding-top: 25px;
  padding-bottom: 25px;
  p {
  margin-top: 15px;
  font-weight: bolder;
  color: $light-color;
  border-radius: 68px;
  background: linear-gradient(145deg, #03070a, #030608);
  box-shadow:  5px 5px 0px #010304,
             -5px -5px 0px #050b0e;
  }
}
#home {
  @include grey-background;
}
.homeImage {
  margin-bottom: 35px;
}
.navMenuHome {
  margin-bottom: 40px;
  border-radius: 68px;
  background: linear-gradient(145deg, #03070a, #030608);
  box-shadow:  5px 5px 0px #010304,
             -5px -5px 0px #050b0e;
  a {
    font-weight: bolder;
    text-decoration: none;
    color: $light-color;
  }
}
h1 {
  display: none;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
}
.nav-link:hover {
  @include scale;  
}
#footer {
  @include grey-background;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 20px;
}
.footerText {
  border-radius: 68px;
  background: linear-gradient(145deg, #03070a, #030608);
  box-shadow:  5px 5px 0px #010304,
             -5px -5px 0px #050b0e;
}