$backgroud-white-color: #ffffff;
$background-grey-color: #030709;
$backgroud-red-color: #f7484e;
$background-black-gradient: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));

$light-color: #ffffff;
$dark-color: #292929;

$general-font: 'Roboto', sans-serif;
$titles-font: 'Playfair Display', serif;

@mixin grey-background {
  background-color: $background-grey-color;
  color: $light-color;
}
@mixin red-background {
  background-color: $backgroud-red-color;
  color: $light-color;
}
@mixin white-background {
  background-color: $backgroud-white-color;
  color: $dark-color;
}
@mixin scale {
  transform: scale(1.1);
  text-decoration: none;
  color: $light-color
}
@mixin list-style{
  list-style-type: none;
  color: $light-color;
  padding-top: 3px;
  margin-top: 2px;
  border-radius: 68px;
  background: #f7484e;
  box-shadow: inset 5px 5px 10px #cf3c42, inset -5px -5px 10px #ff545a;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}
@mixin paragraph-style {
  border-radius: 68px;
  background: #f7484e;
  box-shadow: inset 5px 5px 10px #cf3c42, inset -5px -5px 10px #ff545a;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}
@mixin options-orange-menu {
  border-radius: 50px;
  background: linear-gradient(145deg, #ff4d53, #de4146);
  box-shadow:  5px 5px 9px #af3337,
              -5px -5px 9px #ff5d65;
}
@mixin options-black-menu {
  border-radius: 68px;
  background: linear-gradient(145deg, #03070a, #030608);
  box-shadow:  5px 5px 0px #010304,
             -5px -5px 0px #050b0e;
}
@mixin options-white-menu {
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  9px 9px 18px #c2c2c2,
             -9px -9px 18px #ffffff;
}
@mixin titles-style {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}