$blockchain-image: linear-gradient(
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.6)), 
  url(../images/blockchainBackground2.jpeg);
$back-white: #ffffff;
$background-color: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
$background-grey-color: #292929;
$text-color: #ffffff;
$extra-color: #000000;
$general-font: 'Roboto', sans-serif;
$titles-font: 'Libre Baskerville', serif;
$menus-font: 'Lato', sans-serif;

@mixin grey-background {
  background-color: $background-grey-color;
  text-color: $text-color;
}
@mixin scale {
  transform: scale(1.1);
  text-decoration: none;
  color: $text-color;
}

@mixin background-style {
  border-radius: 1rem;
  background-image: $background-color;  
}
@mixin options-background {
  border-radius: 50%;
  background: transparent;
  box-shadow: inset 5px 5px 16px #a69f9f,
              inset -5px -5px 16px #ffffff;
}

@mixin scale-extra {
  transform: scale(1.1);
  text-decoration: none;
  color: $extra-color; 
}