* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: $general-font;
}
#indexHeader {
  @include grey-background;
  padding-top: 35px;
  padding-bottom: 35px;
  p {
  margin-top: 1rem;
  font-weight: bolder;
  color: $light-color;
  }
}
#home {
  @include grey-background;
}
.homeImage {
  margin-bottom: 35px;
}
.navMenuHome {
  margin-bottom: 40px;
  a {
    font-weight: bolder;
    text-decoration: none;
    color: $light-color;
  }
}
::-webkit-scrollbar {
  display: none;
}
h1 {
  display: none;
}
a {
  text-decoration: none;
}
.nav-link:hover {
  @include scale;  
}
footer {
  color: $light-color;
  padding: 5px 0px 0px 0px;
  font-size: 1rem;
  text-align: center;
  a:hover {
    @include scale;
  }
}