#leftMenuBlockchain {
  @include grey-background;
  max-height: 640px;
}
#rightMenuTecnologia {
  @include grey-background;
  max-height: 640px;
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 60px;
    &::-webkit-scrollbar {
      display: none;
    }
}
#rightMenuBlockchain {
  @include red-background;
  max-height: 640px;
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 60px;
    &::-webkit-scrollbar {
      display: none;
    }
}
.navMenuBlockchain,.optionsBlockchain, .optionsTecnologia{
  a {
  color: $light-color;
    &:hover {
      color: $light-color;
    }
  }
}

#leftMenuDefi {
  @include white-background;
  max-height: 640px;
}
#rightMenuDefi {
  @include grey-background;
  max-height: 640px;
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 60px;
    &::-webkit-scrollbar {
      display: none;
    }
}
#rightMenuAplicaciones {
  @include white-background;
  max-height: 640px;
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 60px;
    &::-webkit-scrollbar {
      display: none;
    }
}
.navMenuDefi, .optionsDefi, .optionsAplicaciones {
  a {
    color: $dark-color;
    &:hover {
      color: $dark-color;
    }
  }
}
