.blockchainOptionsContainer {
  @include grey-background;
  max-height: 640px;
  min-height: 640px;
  @media only screen and (min-width: 577px) and (max-width: 768px) {
    max-height: fit-content !important;
    min-height: fit-content !important;
  }
  @media only screen and (max-width: 576px) {
    max-height: fit-content !important;
    min-height: fit-content !important;
  }
}
#leftMenuBlockchain {
  @include grey-background;
}
#rightMenuBlockchain {
  @include white-background;
  max-height: 640px;
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 60px;
    h3 {
      text-align: center;
      font-weight: bold;
      padding: 10px 0px;
      @media only screen and (min-width: 577px) and (max-width: 768px) {
        display: none;
      }
      @media only screen and (max-width: 576px) {
        display: none;
      }
    }
    h5 {
      text-align: center;
      font-weight: bold;
      padding: 15px 0px;
    }
    @media only screen and (min-width: 577px) and (max-width: 768px) {
      max-height: fit-content !important;
      min-height: fit-content !important;
    }
    @media only screen and (max-width: 576px) {
      max-height: fit-content !important;
      min-height: fit-content !important;
    }
    &::-webkit-scrollbar {
      display: none;
    }
}

.blockTitleContainer {
  margin-top: 150px;
  margin-bottom: 25px;
  @include options-black-menu;
}
.optionsTecnologia {
  margin-bottom: 175px;
  @include options-black-menu;
  a {
    color: $light-color;
      &:hover {
        color: $light-color;
      }
    }
}
.navMenuBlockchain {
  @include options-black-menu;
  @media only screen and (min-width: 769px) and (max-width: 991px) {
    display: none;
  }
  @media only screen and (min-width: 577px) and (max-width: 768px) {
    display: none;
  }
  @media only screen and (max-width: 576px) {
    display: none;
  }
  a {
  color: $light-color;
    &:hover {
      color: $light-color;
    }
  }
}
.defiOptionsContainer {
  @include white-background;
  max-height: 640px;
  min-height: 640px;
  @media only screen and (min-width: 577px) and (max-width: 768px) {
    max-height: fit-content !important;
    min-height: fit-content !important;
  }
  @media only screen and (max-width: 576px) {
    max-height: fit-content !important;
    min-height: fit-content !important;
  }
}
#leftMenuDefi {
  @include white-background;
}
#rightMenuDefi {
  @include grey-background;
  max-height: 640px;
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 60px;
    h3 {
      text-align: center;
      font-weight: bold;
      padding: 10px 0px;
      @media only screen and (min-width: 577px) and (max-width: 768px) {
        display: none;
      }
      @media only screen and (max-width: 576px) {
        display: none;
      }
    }
    h5 {
      text-align: center;
      font-weight: bold;
      padding: 15px 0px;
    }
    @media only screen and (min-width: 577px) and (max-width: 768px) {
      max-height: fit-content !important;
      min-height: fit-content !important;
    }
    @media only screen and (max-width: 576px) {
      max-height: fit-content !important;
      min-height: fit-content !important;
    }
    &::-webkit-scrollbar {
      display: none;
    }
}
.defiTitleContainer {
    margin-top: 150px;
    margin-bottom: 25px;
    @include options-white-menu
}
.optionsDefi {
  margin-bottom: 150px;
  @include options-white-menu;
  a {
    color: $dark-color;
    &:hover {
      color: $dark-color;
    }
  }
}
.navMenuDefi {
  @include options-white-menu;
  @media only screen and (min-width: 769px) and (max-width: 991px) {
    display: none;
  }
  @media only screen and (min-width: 577px) and (max-width: 768px) {
    display: none;
  }
  @media only screen and (max-width: 576px) {
    display: none;
  }
  a {
    color: $dark-color;
    &:hover {
      color: $dark-color;
    }
  }
}
